
html,body{
  height:300px;
  width: 300px;
}
body {
  background:rgb(36, 105, 144);
  color:white;
}

h2 {
  font-size: 30px;
  text-align: center;
}

textarea {
  width: 90%;
  height: 100px;
  margin-left: 2%;
  border: none;
}

button {
  border: none;
  background: white;
  height:30px;
  width:60px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 20px;
}
